<?xml version="1.0" encoding="utf-8"?>

<!--
     TODO: Before you run your application, you need a Google Maps API key.

     To get one, follow the directions here:

        https://developers.google.com/maps/documentation/android-sdk/get-api-key

     Once you have your API key (it starts with "AIza"), define a new property in your
     project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
     "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
-->
<!-- <meta-data -->
<!-- android:name="com.google.android.geo.API_KEY" -->
<!-- android:value="${MAPS_API_KEY}" /> -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Fitness App"
        android:supportsRtl="true"
        android:theme="@style/Theme.UICode"
        tools:targetApi="31">

        <activity
            android:name=".GraphPage"
            android:exported="false" />

        <activity
            android:name=".WelcomePage"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".ChangeInfoActivity"
            android:exported="false"
            android:parentActivityName=".homeActivity" />
        <activity
            android:name=".UserProfile"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".RegisterPage"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginPage"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StepsActivity"
            android:exported="false"
            android:parentActivityName=".homeActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".summaryActivity"
            android:exported="false"
            android:parentActivityName=".homeActivity" />
        <activity
            android:name=".homeActivity"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDtEyhGXW960ua_a_bcrC6qPqNo0cfEno4" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>